#root {
  flex: 1;
  text-align: center;
}

* {
  text-align: center;
  user-select: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: flex;
  flex-direction: row;
}

.header-column {
  display: flex;
  flex-direction: column;
}

.header-row {
  display: flex;
}

.header-cell {
  font-weight: bold;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  border: 1px solid #ccc;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-cell {
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
  min-width: 100px; /* Ensure cells have some width */
}

.schedule-table {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row.full-width {
  width: 100vw;
}

.flex-row.space-around {
  justify-content: space-around;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  height: 100vh;
}

.table-item {
  height: 80px;
  width: 140px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  user-select: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.courseItem {
  display: flex;
  position: relative;
}

.courseItem > * {
  height: 50px;
  padding: 0 15px;
  border: 3px solid;
}

.courseCode {
  width: 70px;
}

.courseTime {
  width: 160px;
}

.courseDay {
  flex: 1;
}

.courseItem .error {
  border: 0;
  text-wrap: no-wrap;
  color: rgb(255, 65, 65);
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.courseItem > button {
  margin: auto 12px;
  border-color: green;
}

.cursor-pointer {
  cursor: pointer;
}

.table-item:nth-child(2) {
  border-left-width: 2px;
}

.flex-row:nth-child(2) > .table-item {
  border-top-width: 2px;
}

.flex-row:first-child > .table-item,
.table-item:first-child {
  border: 0;
}

h2 {
  text-transform: uppercase;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
}
